cat > requirements.txt <<'EOF'
--extra-index-url https://download.pytorch.org/whl/cu121

edge_tts==6.1.9
gradio==5.31.0
nltk==3.9.1
pydub==0.25.1
pysrt==1.1.2
scipy==1.14.1
soundfile==0.12.1
webrtcvad==2.0.10
EOF
